/* Error: Undefined variable.
 *   ,
 * 9 |   @media only screen and (max-width: $bp-tablet-01) {
 *   |                                      ^^^^^^^^^^^^^
 *   '
 *   sass/_layout.scss 9:38  @use
 *   sass/main.scss 2:1      root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a   \2577 \a 9 \2502    @media only screen and (max-width: $bp-tablet-01) {\a   \2502                                       ^^^^^^^^^^^^^\a   \2575 \a   sass/_layout.scss 9:38  @use\a   sass/main.scss 2:1      root stylesheet";
}
