.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-2);
  box-shadow: var(--shadow-dark);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: var(--color-white);
  border-bottom: var(--line);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  flex-flow: row nowrap;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 18%;
  background-color: var(--color-grey-dark-1);

}

.hotel-view {
  background-color: var(--color-white);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  flex: 1;
}

.detail {
  display: flex;
  flex-flow: row wrap;
  font-size: 1.4rem;
  padding: 4.5rem;
  background-color: var(--color-grey-light-1);
  border-bottom: var(--line);
}

.description {
  font-size: 1.4rem;
  flex: 0 0 60%;
  background-color: var(--color-white);
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-right: 4.5rem;
}

.user-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
